[submodule "submodules/NMSSH"]
	path = submodules/NMSSH
	url = https://github.com/gnachman/NMSSH.git
[submodule "submodules/CoreParse"]
	path = submodules/CoreParse
	url = https://github.com/beelsebob/CoreParse
[submodule "submodules/Sparkle"]
	path = submodules/Sparkle
	url = https://github.com/gnachman/Sparkle.git
[submodule "submodules/libsixel"]
	path = submodules/libsixel
	url = https://github.com/saitoha/libsixel
[submodule "submodules/openssl"]
	path = submodules/openssl
	url = https://github.com/openssl/openssl
[submodule "submodules/libssh2"]
	path = submodules/libssh2
	url = https://github.com/libssh2/libssh2
[submodule "submodules/fmdb"]
	path = submodules/fmdb
	url = https://github.com/ccgus/fmdb
[submodule "submodules/libgit2"]
	path = submodules/libgit2
	url = https://github.com/libgit2/libgit2
[submodule "submodules/iTerm2-shell-integration"]
	path = submodules/iTerm2-shell-integration
	url = https://github.com/gnachman/iTerm2-shell-integration
[submodule "submodules/MultiCursor"]
	path = submodules/MultiCursor
	url = https://github.com/gnachman/MultiCursor
[submodule "submodules/SwiftyMarkdown"]
	path = submodules/SwiftyMarkdown
	url = https://github.com/gnachman/SwiftyMarkdown
[submodule "submodules/Highlightr"]
	path = submodules/Highlightr
	url = https://github.com/gnachman/Highlightr
[submodule "submodules/powerline-extra-symbols"]
	path = submodules/powerline-extra-symbols
	url = https://github.com/ryanoasis/powerline-extra-symbols
