.svn
*.mode1v3
*.mode2v3
*.move1v3
*.pbxuser
*.perspective
*.perspectivev3
iTerm.xcodeproj/project.pbxproj
.gitignore
build/
.DS_Store
iTerm.xcodeproj/*
*.pbxproj
canary.xml
testing.xml
testing_changes.html
.gitignore
iTerm.plist
