<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Light Background</key>
    <dict>
        <key>Ansi 0 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.0</real>
            <key>Green Component</key>
            <real>0.0</real>
            <key>Red Component</key>
            <real>0.0</real>
        </dict>
        <key>Ansi 1 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.0</real>
            <key>Green Component</key>
            <real>0.0</real>
            <key>Red Component</key>
            <real>0.73333334922790527</real>
        </dict>
        <key>Ansi 10 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.3333333432674408</real>
            <key>Green Component</key>
            <real>1</real>
            <key>Red Component</key>
            <real>0.3333333432674408</real>
        </dict>
        <key>Ansi 11 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.3333333432674408</real>
            <key>Green Component</key>
            <real>1</real>
            <key>Red Component</key>
            <real>1</real>
        </dict>
        <key>Ansi 12 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>1</real>
            <key>Green Component</key>
            <real>0.3333333432674408</real>
            <key>Red Component</key>
            <real>0.3333333432674408</real>
        </dict>
        <key>Ansi 13 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>1</real>
            <key>Green Component</key>
            <real>0.3333333432674408</real>
            <key>Red Component</key>
            <real>1</real>
        </dict>
        <key>Ansi 14 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>1</real>
            <key>Green Component</key>
            <real>1</real>
            <key>Red Component</key>
            <real>0.3333333432674408</real>
        </dict>
        <key>Ansi 15 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>1</real>
            <key>Green Component</key>
            <real>1</real>
            <key>Red Component</key>
            <real>1</real>
        </dict>
        <key>Ansi 2 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.0</real>
            <key>Green Component</key>
            <real>0.73333334922790527</real>
            <key>Red Component</key>
            <real>0.0</real>
        </dict>
        <key>Ansi 3 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.0</real>
            <key>Green Component</key>
            <real>0.73333334922790527</real>
            <key>Red Component</key>
            <real>0.73333334922790527</real>
        </dict>
        <key>Ansi 4 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.73333334922790527</real>
            <key>Green Component</key>
            <real>0.0</real>
            <key>Red Component</key>
            <real>0.0</real>
        </dict>
        <key>Ansi 5 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.73333334922790527</real>
            <key>Green Component</key>
            <real>0.0</real>
            <key>Red Component</key>
            <real>0.73333334922790527</real>
        </dict>
        <key>Ansi 6 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.73333334922790527</real>
            <key>Green Component</key>
            <real>0.73333334922790527</real>
            <key>Red Component</key>
            <real>0.0</real>
        </dict>
        <key>Ansi 7 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.73333334922790527</real>
            <key>Green Component</key>
            <real>0.73333334922790527</real>
            <key>Red Component</key>
            <real>0.73333334922790527</real>
        </dict>
        <key>Ansi 8 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.3333333432674408</real>
            <key>Green Component</key>
            <real>0.3333333432674408</real>
            <key>Red Component</key>
            <real>0.3333333432674408</real>
        </dict>
        <key>Ansi 9 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.3333333432674408</real>
            <key>Green Component</key>
            <real>0.3333333432674408</real>
            <key>Red Component</key>
            <real>1</real>
        </dict>
        <key>Background Color</key>
        <dict>
            <key>Blue Component</key>
            <real>1</real>
            <key>Green Component</key>
            <real>1</real>
            <key>Red Component</key>
            <real>1</real>
        </dict>
        <key>Bold Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.0</real>
            <key>Green Component</key>
            <real>0.0</real>
            <key>Red Component</key>
            <real>0.0</real>
        </dict>
        <key>Cursor Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.0</real>
            <key>Green Component</key>
            <real>0.0</real>
            <key>Red Component</key>
            <real>0.0</real>
        </dict>
        <key>Cursor Text Color</key>
        <dict>
            <key>Blue Component</key>
            <real>1</real>
            <key>Green Component</key>
            <real>1</real>
            <key>Red Component</key>
            <real>1</real>
        </dict>
        <key>Foreground Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.0</real>
            <key>Green Component</key>
            <real>0.0</real>
            <key>Red Component</key>
            <real>0.0</real>
        </dict>
        <key>Selected Text Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.0</real>
            <key>Green Component</key>
            <real>0.0</real>
            <key>Red Component</key>
            <real>0.0</real>
        </dict>
        <key>Selection Color</key>
        <dict>
            <key>Blue Component</key>
            <real>1</real>
            <key>Green Component</key>
            <real>0.8353000283241272</real>
            <key>Red Component</key>
            <real>0.70980000495910645</real>
        </dict>
    </dict>
    <key>Dark Background</key>
    <dict>
        <key>Ansi 0 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.0</real>
            <key>Green Component</key>
            <real>0.0</real>
            <key>Red Component</key>
            <real>0.0</real>
        </dict>
        <key>Ansi 1 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.0</real>
            <key>Green Component</key>
            <real>0.0</real>
            <key>Red Component</key>
            <real>0.73333334922790527</real>
        </dict>
        <key>Ansi 10 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.3333333432674408</real>
            <key>Green Component</key>
            <real>1</real>
            <key>Red Component</key>
            <real>0.3333333432674408</real>
        </dict>
        <key>Ansi 11 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.3333333432674408</real>
            <key>Green Component</key>
            <real>1</real>
            <key>Red Component</key>
            <real>1</real>
        </dict>
        <key>Ansi 12 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>1</real>
            <key>Green Component</key>
            <real>0.3333333432674408</real>
            <key>Red Component</key>
            <real>0.3333333432674408</real>
        </dict>
        <key>Ansi 13 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>1</real>
            <key>Green Component</key>
            <real>0.3333333432674408</real>
            <key>Red Component</key>
            <real>1</real>
        </dict>
        <key>Ansi 14 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>1</real>
            <key>Green Component</key>
            <real>1</real>
            <key>Red Component</key>
            <real>0.3333333432674408</real>
        </dict>
        <key>Ansi 15 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>1</real>
            <key>Green Component</key>
            <real>1</real>
            <key>Red Component</key>
            <real>1</real>
        </dict>
        <key>Ansi 2 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.0</real>
            <key>Green Component</key>
            <real>0.73333334922790527</real>
            <key>Red Component</key>
            <real>0.0</real>
        </dict>
        <key>Ansi 3 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.0</real>
            <key>Green Component</key>
            <real>0.73333334922790527</real>
            <key>Red Component</key>
            <real>0.73333334922790527</real>
        </dict>
        <key>Ansi 4 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.73333334922790527</real>
            <key>Green Component</key>
            <real>0.0</real>
            <key>Red Component</key>
            <real>0.0</real>
        </dict>
        <key>Ansi 5 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.73333334922790527</real>
            <key>Green Component</key>
            <real>0.0</real>
            <key>Red Component</key>
            <real>0.73333334922790527</real>
        </dict>
        <key>Ansi 6 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.73333334922790527</real>
            <key>Green Component</key>
            <real>0.73333334922790527</real>
            <key>Red Component</key>
            <real>0.0</real>
        </dict>
        <key>Ansi 7 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.73333334922790527</real>
            <key>Green Component</key>
            <real>0.73333334922790527</real>
            <key>Red Component</key>
            <real>0.73333334922790527</real>
        </dict>
        <key>Ansi 8 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.3333333432674408</real>
            <key>Green Component</key>
            <real>0.3333333432674408</real>
            <key>Red Component</key>
            <real>0.3333333432674408</real>
        </dict>
        <key>Ansi 9 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.3333333432674408</real>
            <key>Green Component</key>
            <real>0.3333333432674408</real>
            <key>Red Component</key>
            <real>1</real>
        </dict>
        <key>Background Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.0</real>
            <key>Green Component</key>
            <real>0.0</real>
            <key>Red Component</key>
            <real>0.0</real>
        </dict>
        <key>Bold Color</key>
        <dict>
            <key>Blue Component</key>
            <real>1</real>
            <key>Green Component</key>
            <real>1</real>
            <key>Red Component</key>
            <real>1</real>
        </dict>
        <key>Cursor Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.73333334922790527</real>
            <key>Green Component</key>
            <real>0.73333334922790527</real>
            <key>Red Component</key>
            <real>0.73333334922790527</real>
        </dict>
        <key>Cursor Text Color</key>
        <dict>
            <key>Blue Component</key>
            <real>1</real>
            <key>Green Component</key>
            <real>1</real>
            <key>Red Component</key>
            <real>1</real>
        </dict>
        <key>Foreground Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.73333334922790527</real>
            <key>Green Component</key>
            <real>0.73333334922790527</real>
            <key>Red Component</key>
            <real>0.73333334922790527</real>
        </dict>
        <key>Selected Text Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.0</real>
            <key>Green Component</key>
            <real>0.0</real>
            <key>Red Component</key>
            <real>0.0</real>
        </dict>
        <key>Selection Color</key>
        <dict>
            <key>Blue Component</key>
            <real>1</real>
            <key>Green Component</key>
            <real>0.8353000283241272</real>
            <key>Red Component</key>
            <real>0.70980000495910645</real>
        </dict>
    </dict>
    <key>Pastel (Dark Background)</key>
    <dict>
        <key>Ansi 0 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.3097887</real>
            <key>Green Component</key>
            <real>0.3097887</real>
            <key>Red Component</key>
            <real>0.3097887</real>
        </dict>
        <key>Ansi 1 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.3764706</real>
            <key>Green Component</key>
            <real>0.4235294</real>
            <key>Red Component</key>
            <real>1</real>
        </dict>
        <key>Ansi 10 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.6727703</real>
            <key>Green Component</key>
            <real>1</real>
            <key>Red Component</key>
            <real>0.8094148</real>
        </dict>
        <key>Ansi 11 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.7996491</real>
            <key>Green Component</key>
            <real>1</real>
            <key>Red Component</key>
            <real>1</real>
        </dict>
        <key>Ansi 12 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.9982605</real>
            <key>Green Component</key>
            <real>0.8627756</real>
            <key>Red Component</key>
            <real>0.7116503</real>
        </dict>
        <key>Ansi 13 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.9965209</real>
            <key>Green Component</key>
            <real>0.6133059</real>
            <key>Red Component</key>
            <real>1</real>
        </dict>
        <key>Ansi 14 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.9970397</real>
            <key>Green Component</key>
            <real>0.8763103</real>
            <key>Red Component</key>
            <real>0.8759136</real>
        </dict>
        <key>Ansi 15 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>1</real>
            <key>Green Component</key>
            <real>1</real>
            <key>Red Component</key>
            <real>1</real>
        </dict>
        <key>Ansi 2 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.3764706</real>
            <key>Green Component</key>
            <real>1</real>
            <key>Red Component</key>
            <real>0.6588235</real>
        </dict>
        <key>Ansi 3 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.7137255</real>
            <key>Green Component</key>
            <real>1</real>
            <key>Red Component</key>
            <real>1</real>
        </dict>
        <key>Ansi 4 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.9960784</real>
            <key>Green Component</key>
            <real>0.7960784</real>
            <key>Red Component</key>
            <real>0.5882353</real>
        </dict>
        <key>Ansi 5 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.9921569</real>
            <key>Green Component</key>
            <real>0.4509804</real>
            <key>Red Component</key>
            <real>1</real>
        </dict>
        <key>Ansi 6 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.9960784</real>
            <key>Green Component</key>
            <real>0.772549</real>
            <key>Red Component</key>
            <real>0.7764706</real>
        </dict>
        <key>Ansi 7 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.9335317</real>
            <key>Green Component</key>
            <real>0.9335317</real>
            <key>Red Component</key>
            <real>0.9335317</real>
        </dict>
        <key>Ansi 8 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.4862745</real>
            <key>Green Component</key>
            <real>0.4862745</real>
            <key>Red Component</key>
            <real>0.4862745</real>
        </dict>
        <key>Ansi 9 Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.6901961</real>
            <key>Green Component</key>
            <real>0.7137255</real>
            <key>Red Component</key>
            <real>1</real>
        </dict>
        <key>Background Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0</real>
            <key>Green Component</key>
            <real>0</real>
            <key>Red Component</key>
            <real>0</real>
        </dict>
        <key>Bold Color</key>
        <dict>
            <key>Blue Component</key>
            <real>1</real>
            <key>Green Component</key>
            <real>1</real>
            <key>Red Component</key>
            <real>1</real>
        </dict>
        <key>Cursor Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.3764706</real>
            <key>Green Component</key>
            <real>0.6470588</real>
            <key>Red Component</key>
            <real>1</real>
        </dict>
        <key>Cursor Text Color</key>
        <dict>
            <key>Blue Component</key>
            <real>1</real>
            <key>Green Component</key>
            <real>1</real>
            <key>Red Component</key>
            <real>1</real>
        </dict>
        <key>Foreground Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.73333334922790527</real>
            <key>Green Component</key>
            <real>0.73333334922790527</real>
            <key>Red Component</key>
            <real>0.73333334922790527</real>
        </dict>
        <key>Selected Text Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.9476005</real>
            <key>Green Component</key>
            <real>0.9476005</real>
            <key>Red Component</key>
            <real>0.9476005</real>
        </dict>
        <key>Selection Color</key>
        <dict>
            <key>Blue Component</key>
            <real>0.5153061</real>
            <key>Green Component</key>
            <real>0.2224857</real>
            <key>Red Component</key>
            <real>0.2099074</real>
        </dict>
    </dict>
    <key>Tango Light</key>
    <dict>
        <key>Ansi 0 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0</string>
            <key>Green Component</key>
            <string>0</string>
            <key>Red Component</key>
            <string>0</string>
        </dict>
        <key>Ansi 1 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0</string>
            <key>Green Component</key>
            <string>0</string>
            <key>Red Component</key>
            <string>0.8</string>
        </dict>
        <key>Ansi 10 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.2039216</string>
            <key>Green Component</key>
            <string>0.8862745</string>
            <key>Red Component</key>
            <string>0.5411764999999999</string>
        </dict>
        <key>Ansi 11 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.3098039</string>
            <key>Green Component</key>
            <string>0.9137255</string>
            <key>Red Component</key>
            <string>0.9882353</string>
        </dict>
        <key>Ansi 12 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.8117647</string>
            <key>Green Component</key>
            <string>0.6235294</string>
            <key>Red Component</key>
            <string>0.4470588</string>
        </dict>
        <key>Ansi 13 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.6588235</string>
            <key>Green Component</key>
            <string>0.4980392</string>
            <key>Red Component</key>
            <string>0.6784314</string>
        </dict>
        <key>Ansi 14 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.8862745</string>
            <key>Green Component</key>
            <string>0.8862745</string>
            <key>Red Component</key>
            <string>0.2039216</string>
        </dict>
        <key>Ansi 15 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.9254902</string>
            <key>Green Component</key>
            <string>0.9333333</string>
            <key>Red Component</key>
            <string>0.9333333</string>
        </dict>
        <key>Ansi 2 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.02352941</string>
            <key>Green Component</key>
            <string>0.6039215999999999</string>
            <key>Red Component</key>
            <string>0.3058824</string>
        </dict>
        <key>Ansi 3 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0</string>
            <key>Green Component</key>
            <string>0.627451</string>
            <key>Red Component</key>
            <string>0.7686275</string>
        </dict>
        <key>Ansi 4 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.6431373</string>
            <key>Green Component</key>
            <string>0.3960784</string>
            <key>Red Component</key>
            <string>0.2039216</string>
        </dict>
        <key>Ansi 5 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.4823529</string>
            <key>Green Component</key>
            <string>0.3137255</string>
            <key>Red Component</key>
            <string>0.4588235</string>
        </dict>
        <key>Ansi 6 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.6039215999999999</string>
            <key>Green Component</key>
            <string>0.5960785</string>
            <key>Red Component</key>
            <string>0.02352941</string>
        </dict>
        <key>Ansi 7 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.8117647</string>
            <key>Green Component</key>
            <string>0.8431373</string>
            <key>Red Component</key>
            <string>0.827451</string>
        </dict>
        <key>Ansi 8 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.3254902</string>
            <key>Green Component</key>
            <string>0.3411765</string>
            <key>Red Component</key>
            <string>0.3333333</string>
        </dict>
        <key>Ansi 9 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.1607843</string>
            <key>Green Component</key>
            <string>0.1607843</string>
            <key>Red Component</key>
            <string>0.9372549</string>
        </dict>
        <key>Background Color</key>
        <dict>
            <key>Blue Component</key>
            <string>1</string>
            <key>Green Component</key>
            <string>1</string>
            <key>Red Component</key>
            <string>1</string>
        </dict>
        <key>Bold Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0</string>
            <key>Green Component</key>
            <string>0</string>
            <key>Red Component</key>
            <string>0</string>
        </dict>
        <key>Cursor Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0</string>
            <key>Green Component</key>
            <string>0</string>
            <key>Red Component</key>
            <string>0</string>
        </dict>
        <key>Cursor Text Color</key>
        <dict>
            <key>Blue Component</key>
            <string>1</string>
            <key>Green Component</key>
            <string>1</string>
            <key>Red Component</key>
            <string>1</string>
        </dict>
        <key>Foreground Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0</string>
            <key>Green Component</key>
            <string>0</string>
            <key>Red Component</key>
            <string>0</string>
        </dict>
        <key>Selected Text Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0</string>
            <key>Green Component</key>
            <string>0</string>
            <key>Red Component</key>
            <string>0</string>
        </dict>
        <key>Selection Color</key>
        <dict>
            <key>Blue Component</key>
            <string>1</string>
            <key>Green Component</key>
            <string>0.8353</string>
            <key>Red Component</key>
            <string>0.7098</string>
        </dict>
    </dict>
    <key>Tango Dark</key>
    <dict>
        <key>Ansi 0 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0</string>
            <key>Green Component</key>
            <string>0</string>
            <key>Red Component</key>
            <string>0</string>
        </dict>
        <key>Ansi 1 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0</string>
            <key>Green Component</key>
            <string>0</string>
            <key>Red Component</key>
            <string>0.8</string>
        </dict>
        <key>Ansi 10 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.2039216</string>
            <key>Green Component</key>
            <string>0.8862745</string>
            <key>Red Component</key>
            <string>0.5411764999999999</string>
        </dict>
        <key>Ansi 11 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.3098039</string>
            <key>Green Component</key>
            <string>0.9137255</string>
            <key>Red Component</key>
            <string>0.9882353</string>
        </dict>
        <key>Ansi 12 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.8117647</string>
            <key>Green Component</key>
            <string>0.6235294</string>
            <key>Red Component</key>
            <string>0.4470588</string>
        </dict>
        <key>Ansi 13 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.6588235</string>
            <key>Green Component</key>
            <string>0.4980392</string>
            <key>Red Component</key>
            <string>0.6784314</string>
        </dict>
        <key>Ansi 14 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.8862745</string>
            <key>Green Component</key>
            <string>0.8862745</string>
            <key>Red Component</key>
            <string>0.2039216</string>
        </dict>
        <key>Ansi 15 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.9254902</string>
            <key>Green Component</key>
            <string>0.9333333</string>
            <key>Red Component</key>
            <string>0.9333333</string>
        </dict>
        <key>Ansi 2 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.02352941</string>
            <key>Green Component</key>
            <string>0.6039215999999999</string>
            <key>Red Component</key>
            <string>0.3058824</string>
        </dict>
        <key>Ansi 3 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0</string>
            <key>Green Component</key>
            <string>0.627451</string>
            <key>Red Component</key>
            <string>0.7686275</string>
        </dict>
        <key>Ansi 4 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.6431373</string>
            <key>Green Component</key>
            <string>0.3960784</string>
            <key>Red Component</key>
            <string>0.2039216</string>
        </dict>
        <key>Ansi 5 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.4823529</string>
            <key>Green Component</key>
            <string>0.3137255</string>
            <key>Red Component</key>
            <string>0.4588235</string>
        </dict>
        <key>Ansi 6 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.6039215999999999</string>
            <key>Green Component</key>
            <string>0.5960785</string>
            <key>Red Component</key>
            <string>0.02352941</string>
        </dict>
        <key>Ansi 7 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.8117647</string>
            <key>Green Component</key>
            <string>0.8431373</string>
            <key>Red Component</key>
            <string>0.827451</string>
        </dict>
        <key>Ansi 8 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.3254902</string>
            <key>Green Component</key>
            <string>0.3411765</string>
            <key>Red Component</key>
            <string>0.3333333</string>
        </dict>
        <key>Ansi 9 Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0.1607843</string>
            <key>Green Component</key>
            <string>0.1607843</string>
            <key>Red Component</key>
            <string>0.9372549</string>
        </dict>
        <key>Background Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0</string>
            <key>Green Component</key>
            <string>0</string>
            <key>Red Component</key>
            <string>0</string>
        </dict>
        <key>Bold Color</key>
        <dict>
            <key>Blue Component</key>
            <string>1</string>
            <key>Green Component</key>
            <string>1</string>
            <key>Red Component</key>
            <string>1</string>
        </dict>
        <key>Cursor Color</key>
        <dict>
            <key>Blue Component</key>
            <string>1</string>
            <key>Green Component</key>
            <string>1</string>
            <key>Red Component</key>
            <string>1</string>
        </dict>
        <key>Cursor Text Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0</string>
            <key>Green Component</key>
            <string>0</string>
            <key>Red Component</key>
            <string>0</string>
        </dict>
        <key>Foreground Color</key>
        <dict>
            <key>Blue Component</key>
            <string>1</string>
            <key>Green Component</key>
            <string>1</string>
            <key>Red Component</key>
            <string>1</string>
        </dict>
        <key>Selected Text Color</key>
        <dict>
            <key>Blue Component</key>
            <string>0</string>
            <key>Green Component</key>
            <string>0</string>
            <key>Red Component</key>
            <string>0</string>
        </dict>
        <key>Selection Color</key>
        <dict>
            <key>Blue Component</key>
            <string>1</string>
            <key>Green Component</key>
            <string>0.8353</string>
            <key>Red Component</key>
            <string>0.7098</string>
        </dict>
    </dict>
</dict>
</plist>
