<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>command</string>
				<string>tool</string>
				<string>sh</string>
				<string>zsh</string>
				<string>csh</string>
				<string>pl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iTerm.icns</string>
			<key>CFBundleTypeName</key>
			<string>Terminal scripts</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Folders</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>iTerm</string>
	<key>CFBundleGetInfoString</key>
	<string>unknown</string>
	<key>CFBundleHelpBookFolder</key>
	<string>iTerm Help</string>
	<key>CFBundleHelpBookName</key>
	<string>iTerm Help</string>
	<key>CFBundleIconFile</key>
	<string>iTerm.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.iTerm</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iTerm</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>unknown</string>
	<key>CFBundleSignature</key>
	<string>ITRM</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>http URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>https URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>ftp URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ftp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>file URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>file</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>gopher URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gopher</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>mailto URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mailto</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>news URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>news</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>nntp URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nntp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>ssh URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ssh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>telnet URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>telnet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>wais URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wais</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>whois URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>whois</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>x-man-page URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-man-page</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>unknown</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSExtensions</key>
	<dict/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>iTermApplication</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUFeedURLForTesting</key>
	<string>http://iterm.sourceforge.net/appcasts/b/testing.xml</string>
	<key>SUFeedURLForFinal</key>
	<string>http://iterm.sourceforge.net/appcasts/b/final.xml</string>
	<key>SmartCrashReports_CompanyName</key>
	<string>iTerm</string>
	<key>SmartCrashReports_EmailTicket</key>
	<string>SCR-73C32475CB</string>
</dict>
</plist>
