<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Basic Defaults</key>
        <dict>
                <key>0xf700-0x220000</key>
                <dict>
                        <key>Action</key>
                        <integer>7</integer>
                </dict>
                <key>0xf701-0x220000</key>
                <dict>
                        <key>Action</key>
                        <integer>6</integer>
                </dict>
                <key>0xf702-0x320000</key>
                <dict>
                        <key>Action</key>
                        <integer>2</integer>
                </dict>
                <key>0xf702-0x380000</key>
                <dict>
                        <key>Action</key>
                        <integer>2</integer>
                </dict>
                <key>0xf703-0x320000</key>
                <dict>
                        <key>Action</key>
                        <integer>0</integer>
                </dict>
                <key>0xf703-0x380000</key>
                <dict>
                        <key>Action</key>
                        <integer>0</integer>
                </dict>
                <key>0xf729-0x20000</key>
                <dict>
                        <key>Action</key>
                        <integer>5</integer>
                </dict>
                <key>0xf72b-0x20000</key>
                <dict>
                        <key>Action</key>
                        <integer>4</integer>
                </dict>
                <key>0xf72c-0x20000</key>
                <dict>
                        <key>Action</key>
                        <integer>9</integer>
                </dict>
                <key>0xf72d-0x20000</key>
                <dict>
                        <key>Action</key>
                        <integer>8</integer>
                </dict>
        </dict>
        
        <key>xterm Defaults</key>
        <dict>
                <key>0x7f-0x0</key>
                <dict>
                        <key>Action</key>
                        <integer>11</integer>
                        <key>Text</key>
                        <string>7f</string>
                </dict>
                <key>0xf700-0x220000</key>
                <dict>
                        <key>Action</key>
                        <integer>10</integer>
                        <key>Text</key>
                        <string>O2A</string>
                </dict>
                <key>0xf701-0x220000</key>
                <dict>
                        <key>Action</key>
                        <integer>10</integer>
                        <key>Text</key>
                        <string>O2B</string>
                </dict>
                <key>0xf702-0x220000</key>
                <dict>
                        <key>Action</key>
                        <integer>10</integer>
                        <key>Text</key>
                        <string>O2D</string>
                </dict>
                <key>0xf702-0x240000</key>
                <dict>
                        <key>Action</key>
                        <integer>10</integer>
                        <key>Priority</key>
                        <integer>1</integer>
                        <key>Text</key>
                        <string>O5D</string>
                </dict>
                <key>0xf703-0x220000</key>
                <dict>
                        <key>Action</key>
                        <integer>10</integer>
                        <key>Text</key>
                        <string>O2C</string>
                </dict>
                <key>0xf703-0x240000</key>
                <dict>
                        <key>Action</key>
                        <integer>10</integer>
                        <key>Priority</key>
                        <integer>1</integer>
                        <key>Text</key>
                        <string>O5C</string>
                </dict>
                <key>0xf704-0x20000</key>
                <dict>
                        <key>Action</key>
                        <integer>10</integer>
                        <key>Text</key>
                        <string>[11;2~</string>
                </dict>
                <key>0xf705-0x20000</key>
                <dict>
                        <key>Action</key>
                        <integer>10</integer>
                        <key>Text</key>
                        <string>[12;2~</string>
                </dict>
                <key>0xf706-0x20000</key>
                <dict>
                        <key>Action</key>
                        <integer>10</integer>
                        <key>Text</key>
                        <string>[13;2~</string>
                </dict>
                <key>0xf707-0x20000</key>
                <dict>
                        <key>Action</key>
                        <integer>10</integer>
                        <key>Text</key>
                        <string>[14;2~</string>
                </dict>
                <key>0xf708-0x20000</key>
                <dict>
                        <key>Action</key>
                        <integer>10</integer>
                        <key>Text</key>
                        <string>[15;2~</string>
                </dict>
                <key>0xf709-0x20000</key>
                <dict>
                        <key>Action</key>
                        <integer>10</integer>
                        <key>Text</key>
                        <string>[17;2~</string>
                </dict>
                <key>0xf70a-0x20000</key>
                <dict>
                        <key>Action</key>
                        <integer>10</integer>
                        <key>Text</key>
                        <string>[18;2~</string>
                </dict>
                <key>0xf70b-0x20000</key>
                <dict>
                        <key>Action</key>
                        <integer>10</integer>
                        <key>Text</key>
                        <string>[19;2~</string>
                </dict>
                <key>0xf70c-0x20000</key>
                <dict>
                        <key>Action</key>
                        <integer>10</integer>
                        <key>Text</key>
                        <string>[20;2~</string>
                </dict>
                <key>0xf70d-0x20000</key>
                <dict>
                        <key>Action</key>
                        <integer>10</integer>
                        <key>Text</key>
                        <string>[21;2~</string>
                </dict>
                <key>0xf70e-0x20000</key>
                <dict>
                        <key>Action</key>
                        <integer>10</integer>
                        <key>Text</key>
                        <string>[23;2~</string>
                </dict>
                <key>0xf70f-0x20000</key>
                <dict>
                        <key>Action</key>
                        <integer>10</integer>
                        <key>Text</key>
                        <string>[24;2~</string>
                </dict>
                <key>0xf729-0x20000</key>
                <dict>
                        <key>Action</key>
                        <integer>10</integer>
                        <key>Text</key>
                        <string>O2H</string>
                </dict>
                <key>0xf729-0x40000</key>
                <dict>
                        <key>Action</key>
                        <integer>10</integer>
                        <key>Text</key>
                        <string>O5H</string>
                </dict>
                <key>0xf72b-0x20000</key>
                <dict>
                        <key>Action</key>
                        <integer>10</integer>
                        <key>Text</key>
                        <string>O2F</string>
                </dict>
                <key>0xf72b-0x40000</key>
                <dict>
                        <key>Action</key>
                        <integer>10</integer>
                        <key>Text</key>
                        <string>O5F</string>
                </dict>
        </dict>
</dict>
</plist>
