<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>0x19-0x60000</key>
    <dict>
      <key>Action</key>
      <integer>39</integer>
      <key>Text</key>
      <string></string>
    </dict>
    <key>0xf702-0x320000</key>
    <dict>
      <key>Action</key>
      <integer>33</integer>
      <key>Text</key>
      <string></string>
    </dict>
    <key>0xf703-0x320000</key>
    <dict>
      <key>Action</key>
      <integer>34</integer>
      <key>Text</key>
      <string></string>
    </dict>
    <key>0xf700-0x300000</key>
    <dict>
      <key>Action</key>
      <integer>7</integer>
      <key>Text</key>
      <string></string>
    </dict>
    <key>0xf701-0x300000</key>
    <dict>
      <key>Action</key>
      <integer>6</integer>
      <key>Text</key>
      <string></string>
    </dict>
    <key>0xf702-0x300000</key>
    <dict>
      <key>Action</key>
      <integer>2</integer>
      <key>Text</key>
      <string></string>
    </dict>
    <key>0xf703-0x300000</key>
    <dict>
      <key>Action</key>
      <integer>0</integer>
      <key>Text</key>
      <string></string>
    </dict>
    <key>0xf729-0x100000</key>
    <dict>
      <key>Action</key>
      <integer>5</integer>
      <key>Text</key>
      <string></string>
    </dict>
    <key>0xf72b-0x100000</key>
    <dict>
      <key>Action</key>
      <integer>4</integer>
      <key>Text</key>
      <string></string>
    </dict>
    <key>0xf72c-0x100000</key>
    <dict>
      <key>Action</key>
      <integer>9</integer>
      <key>Text</key>
      <string></string>
    </dict>
    <key>0xf72c-0x20000</key>
    <dict>
      <key>Action</key>
      <integer>9</integer>
      <key>Text</key>
      <string></string>
    </dict>
    <key>0xf72d-0x100000</key>
    <dict>
      <key>Action</key>
      <integer>8</integer>
      <key>Text</key>
      <string></string>
    </dict>
    <key>0xf72d-0x20000</key>
    <dict>
      <key>Action</key>
      <integer>8</integer>
      <key>Text</key>
      <string></string>
    </dict>
    <key>0x9-0x40000</key>
    <dict>
      <key>Action</key>
      <integer>32</integer>
      <key>Text</key>
      <string></string>
    </dict>
  </dict>
</plist>

