<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>xterm Defaults</key>
    <dict>
      <key>0xf700-0x260000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;6A</string>
      </dict>
      <key>0xf701-0x260000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;6B</string>
      </dict>
      <key>0xf702-0x260000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;6D</string>
      </dict>
      <key>0xf703-0x260000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;6C</string>
      </dict>
      <key>0x38-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x7f</string>
      </dict>
      <key>0x2d-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1f</string>
      </dict>
      <key>0x32-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x00</string>
      </dict>
      <key>0x33-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1b</string>
      </dict>
      <key>0x34-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1c</string>
      </dict>
      <key>0x35-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1d</string>
      </dict>
      <key>0x36-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1e</string>
      </dict>
      <key>0x37-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1f</string>
      </dict>
      <key>0xf700-0x220000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2A</string>
      </dict>
      <key>0xf701-0x220000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2B</string>
      </dict>
      <key>0xf702-0x220000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2D</string>
      </dict>
      <key>0xf701-0x240000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5B</string>
      </dict>
      <key>0xf700-0x240000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5A</string>
      </dict>
      <key>0xf702-0x240000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5D</string>
      </dict>
      <key>0xf703-0x220000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2C</string>
      </dict>
      <key>0xf703-0x240000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5C</string>
      </dict>
      <key>0xf704-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2P</string>
      </dict>
      <key>0xf705-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2Q</string>
      </dict>
      <key>0xf706-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2R</string>
      </dict>
      <key>0xf707-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2S</string>
      </dict>
      <key>0xf708-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[15;2~</string>
      </dict>
      <key>0xf709-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[17;2~</string>
      </dict>
      <key>0xf70a-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[18;2~</string>
      </dict>
      <key>0xf70b-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[19;2~</string>
      </dict>
      <key>0xf70c-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[20;2~</string>
      </dict>
      <key>0xf70d-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[21;2~</string>
      </dict>
      <key>0xf70e-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[23;2~</string>
      </dict>
      <key>0xf70f-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[24;2~</string>
      </dict>
      <key>0xf729-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2H</string>
      </dict>
      <key>0xf729-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5H</string>
      </dict>
      <key>0xf72b-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2F</string>
      </dict>
      <key>0xf72b-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5F</string>
      </dict>
      <key>0xf709-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[17;5~</string>
      </dict>
      <key>0xf704-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5P</string>
      </dict>
      <key>0xf70a-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[18;5~</string>
      </dict>
      <key>0xf705-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5Q</string>
      </dict>
      <key>0xf70b-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[19;5~</string>
      </dict>
      <key>0xf70c-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[20;5~</string>
      </dict>
      <key>0xf706-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5R</string>
      </dict>
      <key>0xf710-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[25;5~</string>
      </dict>
      <key>0xf707-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5S</string>
      </dict>
      <key>0xf70d-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[21;5~</string>
      </dict>
      <key>0xf70e-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[23;5~</string>
      </dict>
      <key>0xf711-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[26;5~</string>
      </dict>
      <key>0xf70f-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[24;5~</string>
      </dict>
      <key>0xf712-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[28;5~</string>
      </dict>
      <key>0xf708-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[15;5~</string>
      </dict>
    </dict>
    <key>xterm with Numeric Keypad</key>
    <dict>
      <key>0x2a-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>*</string>
      </dict>
      <key>0x2b-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>+</string>
      </dict>
      <key>0x2d-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>-</string>
      </dict>
      <key>0x2d-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1f</string>
      </dict>
      <key>0x2e-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>.</string>
      </dict>
      <key>0x2f-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>/</string>
      </dict>
      <key>0x3-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0xd</string>
      </dict>
      <key>0x30-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>0</string>
      </dict>
      <key>0x31-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>1</string>
      </dict>
      <key>0x32-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>2</string>
      </dict>
      <key>0x32-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x00</string>
      </dict>
      <key>0x33-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>3</string>
      </dict>
      <key>0x33-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1b</string>
      </dict>
      <key>0x34-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>4</string>
      </dict>
      <key>0x34-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1c</string>
      </dict>
      <key>0x35-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>5</string>
      </dict>
      <key>0x35-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1d</string>
      </dict>
      <key>0x36-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>6</string>
      </dict>
      <key>0x36-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1e</string>
      </dict>
      <key>0x37-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>7</string>
      </dict>
      <key>0x37-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1f</string>
      </dict>
      <key>0x38-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>8</string>
      </dict>
      <key>0x38-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x7f</string>
      </dict>
      <key>0x39-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>9</string>
      </dict>
      <key>0xf700-0x220000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2A</string>
      </dict>
      <key>0xf700-0x240000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5A</string>
      </dict>
      <key>0xf701-0x220000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2B</string>
      </dict>
      <key>0xf701-0x240000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5B</string>
      </dict>
      <key>0xf702-0x220000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2D</string>
      </dict>
      <key>0xf702-0x240000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5D</string>
      </dict>
      <key>0xf703-0x220000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2C</string>
      </dict>
      <key>0xf703-0x240000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5C</string>
      </dict>
      <key>0xf704-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2P</string>
      </dict>
      <key>0xf705-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2Q</string>
      </dict>
      <key>0xf706-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2R</string>
      </dict>
      <key>0xf707-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2S</string>
      </dict>
      <key>0xf708-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[15;2~</string>
      </dict>
      <key>0xf709-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[17;2~</string>
      </dict>
      <key>0xf70a-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[18;2~</string>
      </dict>
      <key>0xf70b-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[19;2~</string>
      </dict>
      <key>0xf70c-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[20;2~</string>
      </dict>
      <key>0xf70d-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[21;2~</string>
      </dict>
      <key>0xf70e-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[23;2~</string>
      </dict>
      <key>0xf70f-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[24;2~</string>
      </dict>
      <key>0xf729-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2H</string>
      </dict>
      <key>0xf729-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5H</string>
      </dict>
      <key>0xf72b-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2F</string>
      </dict>
      <key>0xf72b-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5F</string>
      </dict>
      <key>0xf739-0x0</key>
      <dict>
        <key>Action</key>
        <integer>13</integer>
        <key>Text</key>
        <string></string>
      </dict>
      <key>0xf700-0x260000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;6A</string>
      </dict>
      <key>0xf701-0x260000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;6B</string>
      </dict>
      <key>0xf702-0x260000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;6D</string>
      </dict>
      <key>0xf703-0x260000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;6C</string>
      </dict>
      <key>0xf709-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[17;5~</string>
      </dict>
      <key>0xf704-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5P</string>
      </dict>
      <key>0xf70a-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[18;5~</string>
      </dict>
      <key>0xf705-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5Q</string>
      </dict>
      <key>0xf70b-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[19;5~</string>
      </dict>
      <key>0xf70c-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[20;5~</string>
      </dict>
      <key>0xf706-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5R</string>
      </dict>
      <key>0xf710-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[25;5~</string>
      </dict>
      <key>0xf707-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5S</string>
      </dict>
      <key>0xf70d-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[21;5~</string>
      </dict>
      <key>0xf70e-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[23;5~</string>
      </dict>
      <key>0xf711-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[26;5~</string>
      </dict>
      <key>0xf70f-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[24;5~</string>
      </dict>
      <key>0xf712-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[28;5~</string>
      </dict>
      <key>0xf708-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[15;5~</string>
      </dict>
    </dict>
    <key>Terminal.app Compatibility</key>
    <dict>
      <key>0x2d-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1f</string>
      </dict>
      <key>0x5e-0x60000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1e</string>
      </dict>
      <key>0xf700-0x220000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[A</string>
      </dict>
      <key>0xf700-0x240000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[A</string>
      </dict>
      <key>0xf700-0x260000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[A</string>
      </dict>
      <key>0xf700-0x280000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[A</string>
      </dict>
      <key>0xf701-0x220000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[B</string>
      </dict>
      <key>0xf701-0x240000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[B</string>
      </dict>
      <key>0xf701-0x260000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[B</string>
      </dict>
      <key>0xf701-0x280000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[B</string>
      </dict>
      <key>0xf702-0x220000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[D</string>
      </dict>
      <key>0xf702-0x240000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[5D</string>
      </dict>
      <key>0xf702-0x260000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1b 0x1b 0x5b 0x44</string>
      </dict>
      <key>0xf702-0x280000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>b</string>
      </dict>
      <key>0xf703-0x220000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[C</string>
      </dict>
      <key>0xf703-0x240000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[5C</string>
      </dict>
      <key>0xf703-0x260000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[C</string>
      </dict>
      <key>0xf703-0x280000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>f</string>
      </dict>
      <key>0xf708-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[25~</string>
      </dict>
      <key>0xf709-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[26~</string>
      </dict>
      <key>0xf70a-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[28~</string>
      </dict>
      <key>0xf70b-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[29~</string>
      </dict>
      <key>0xf729-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[H</string>
      </dict>
      <key>0xf729-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>5</integer>
        <key>Text</key>
        <string></string>
      </dict>
      <key>0xf72b-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[F</string>
      </dict>
      <key>0xf72b-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>4</integer>
        <key>Text</key>
        <string></string>
      </dict>
    </dict>
    <key>Natural Text Editing</key>
    <dict>
      <key>0xf703-0x300000</key>
      <dict>
          <key>Action</key>
          <integer>11</integer>
          <key>Text</key>
          <string>0x5</string>
      </dict>
      <key>0xf702-0x300000</key>
      <dict>
          <key>Action</key>
          <integer>11</integer>
          <key>Text</key>
          <string>0x1</string>
      </dict>
      <key>0xf728-0x80000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>d</string>
      </dict>
      <key>0x7f-0x100000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x15</string>
      </dict>
      <key>0x7f-0x80000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1b 0x7f</string>
      </dict>
      <key>0xf702-0x280000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>b</string>
      </dict>
      <key>0xf703-0x280000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>f</string>
      </dict>
      <key>0xf728-0x0</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x4</string>
      </dict>
      <key>0x2a-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>*</string>
      </dict>
      <key>0x2b-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>+</string>
      </dict>
      <key>0x2d-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>-</string>
      </dict>
      <key>0x2d-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1f</string>
      </dict>
      <key>0x2e-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>.</string>
      </dict>
      <key>0x2f-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>/</string>
      </dict>
      <key>0x3-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0xd</string>
      </dict>
      <key>0x30-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>0</string>
      </dict>
      <key>0x31-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>1</string>
      </dict>
      <key>0x32-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>2</string>
      </dict>
      <key>0x32-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x00</string>
      </dict>
      <key>0x33-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>3</string>
      </dict>
      <key>0x33-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1b</string>
      </dict>
      <key>0x34-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>4</string>
      </dict>
      <key>0x34-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1c</string>
      </dict>
      <key>0x35-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>5</string>
      </dict>
      <key>0x35-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1d</string>
      </dict>
      <key>0x36-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>6</string>
      </dict>
      <key>0x36-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1e</string>
      </dict>
      <key>0x37-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>7</string>
      </dict>
      <key>0x37-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1f</string>
      </dict>
      <key>0x38-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>8</string>
      </dict>
      <key>0x38-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x7f</string>
      </dict>
      <key>0x39-0x200000</key>
      <dict>
        <key>Action</key>
        <integer>12</integer>
        <key>Text</key>
        <string>9</string>
      </dict>
      <key>0xf700-0x220000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2A</string>
      </dict>
      <key>0xf700-0x240000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5A</string>
      </dict>
      <key>0xf701-0x220000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2B</string>
      </dict>
      <key>0xf701-0x240000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5B</string>
      </dict>
      <key>0xf702-0x220000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2D</string>
      </dict>
      <key>0xf702-0x240000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5D</string>
      </dict>
      <key>0xf703-0x220000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2C</string>
      </dict>
      <key>0xf703-0x240000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5C</string>
      </dict>
      <key>0xf704-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2P</string>
      </dict>
      <key>0xf705-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2Q</string>
      </dict>
      <key>0xf706-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2R</string>
      </dict>
      <key>0xf707-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2S</string>
      </dict>
      <key>0xf708-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[15;2~</string>
      </dict>
      <key>0xf709-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[17;2~</string>
      </dict>
      <key>0xf70a-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[18;2~</string>
      </dict>
      <key>0xf70b-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[19;2~</string>
      </dict>
      <key>0xf70c-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[20;2~</string>
      </dict>
      <key>0xf70d-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[21;2~</string>
      </dict>
      <key>0xf70e-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[23;2~</string>
      </dict>
      <key>0xf70f-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[24;2~</string>
      </dict>
      <key>0xf729-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2H</string>
      </dict>
      <key>0xf729-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5H</string>
      </dict>
      <key>0xf72b-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;2F</string>
      </dict>
      <key>0xf72b-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;5F</string>
      </dict>
      <key>0xf739-0x0</key>
      <dict>
        <key>Action</key>
        <integer>13</integer>
        <key>Text</key>
        <string></string>
      </dict>
      <key>0xf700-0x260000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;6A</string>
      </dict>
      <key>0xf701-0x260000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;6B</string>
      </dict>
      <key>0xf702-0x260000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;6D</string>
      </dict>
      <key>0xf703-0x260000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[1;6C</string>
      </dict>
    </dict>
  </dict>
</plist>
