<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Simulate Numlock</key>
    <dict>
      <key>0x2a-0x200000</key>
      <dict>
	  <key>Action</key>
	  <integer>12</integer>
	  <key>Text</key>
	  <string>*</string>
      </dict>
      <key>0x2b-0x200000</key>
      <dict>
	  <key>Action</key>
	  <integer>12</integer>
	  <key>Text</key>
	  <string>+</string>
      </dict>
      <key>0x2d-0x200000</key>
      <dict>
	  <key>Action</key>
	  <integer>12</integer>
	  <key>Text</key>
	  <string>-</string>
      </dict>
      <key>0x2e-0x200000</key>
      <dict>
	  <key>Action</key>
	  <integer>12</integer>
	  <key>Text</key>
	  <string>.</string>
      </dict>
      <key>0x2f-0x200000</key>
      <dict>
	  <key>Action</key>
	  <integer>12</integer>
	  <key>Text</key>
	  <string>/</string>
      </dict>
      <key>0x3-0x200000</key>
      <dict>
	  <key>Action</key>
	  <integer>11</integer>
	  <key>Text</key>
	  <string>0xd</string>
      </dict>
      <key>0x30-0x200000</key>
      <dict>
	  <key>Action</key>
	  <integer>12</integer>
	  <key>Text</key>
	  <string>0</string>
      </dict>
      <key>0x31-0x200000</key>
      <dict>
	  <key>Action</key>
	  <integer>12</integer>
	  <key>Text</key>
	  <string>1</string>
      </dict>
      <key>0x32-0x200000</key>
      <dict>
	  <key>Action</key>
	  <integer>12</integer>
	  <key>Text</key>
	  <string>2</string>
      </dict>
      <key>0x33-0x200000</key>
      <dict>
	  <key>Action</key>
	  <integer>12</integer>
	  <key>Text</key>
	  <string>3</string>
      </dict>
      <key>0x34-0x200000</key>
      <dict>
	  <key>Action</key>
	  <integer>12</integer>
	  <key>Text</key>
	  <string>4</string>
      </dict>
      <key>0x35-0x200000</key>
      <dict>
	  <key>Action</key>
	  <integer>12</integer>
	  <key>Text</key>
	  <string>5</string>
      </dict>
      <key>0x36-0x200000</key>
      <dict>
	  <key>Action</key>
	  <integer>12</integer>
	  <key>Text</key>
	  <string>6</string>
      </dict>
      <key>0x37-0x200000</key>
      <dict>
	  <key>Action</key>
	  <integer>12</integer>
	  <key>Text</key>
	  <string>7</string>
      </dict>
      <key>0x38-0x200000</key>
      <dict>
	  <key>Action</key>
	  <integer>12</integer>
	  <key>Text</key>
	  <string>8</string>
      </dict>
      <key>0x39-0x200000</key>
      <dict>
	  <key>Action</key>
	  <integer>12</integer>
	  <key>Text</key>
	  <string>9</string>
      </dict>
      <key>0xf739-0x0</key>
      <dict>
	  <key>Action</key>
	  <integer>13</integer>
	  <key>Text</key>
	  <string></string>
      </dict>
    </dict>
    <key>Terminal.app Compatibility</key>
    <dict>
      <key>0x5e-0x60000</key>
      <dict>
        <key>Action</key>
        <integer>11</integer>
        <key>Text</key>
        <string>0x1e</string>
      </dict>
      <key>0xf700-0x220000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[A</string>
      </dict>
      <key>0xf700-0x240000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[A</string>
      </dict>
      <key>0xf700-0x260000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[A</string>
      </dict>
      <key>0xf700-0x280000</key>
      <dict>
        <key>Action</key>
        <integer>38</integer>
        <key>Apply Mode</key>
        <integer>0</integer>
        <key>Escaping</key>
        <integer>1</integer>
        <key>Text</key>
        <string>\e\e[A</string>
        <key>Version</key>
        <integer>2</integer>
      </dict>
      <key>0xf701-0x220000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[B</string>
      </dict>
      <key>0xf701-0x240000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[B</string>
      </dict>
      <key>0xf701-0x260000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[B</string>
      </dict>
      <key>0xf701-0x280000</key>
      <dict>
        <key>Action</key>
        <integer>38</integer>
        <key>Apply Mode</key>
        <integer>0</integer>
        <key>Escaping</key>
        <integer>1</integer>
        <key>Text</key>
        <string>\e\e[B</string>
        <key>Version</key>
        <integer>2</integer>
      </dict>
      <key>0xf702-0x240000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Apply Mode</key>
        <integer>0</integer>
        <key>Escaping</key>
        <integer>1</integer>
        <key>Text</key>
        <string>[1;5D</string>
        <key>Version</key>
        <integer>2</integer>
      </dict>
      <key>0xf702-0x260000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Apply Mode</key>
        <integer>0</integer>
        <key>Escaping</key>
        <integer>1</integer>
        <key>Text</key>
        <string>[D</string>
        <key>Version</key>
        <integer>2</integer>
      </dict>
      <key>0xf702-0x280000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>b</string>
      </dict>
      <key>0xf703-0x240000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Apply Mode</key>
        <integer>0</integer>
        <key>Escaping</key>
        <integer>1</integer>
        <key>Text</key>
        <string>[1;5C</string>
        <key>Version</key>
        <integer>2</integer>
      </dict>
      <key>0xf703-0x260000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[C</string>
      </dict>
      <key>0xf703-0x280000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>f</string>
      </dict>
      <key>0xf708-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[25~</string>
      </dict>
      <key>0xf709-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[26~</string>
      </dict>
      <key>0xf70a-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[28~</string>
      </dict>
      <key>0xf70b-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[29~</string>
      </dict>
      <key>0xf729-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[H</string>
      </dict>
      <key>0xf729-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>5</integer>
        <key>Text</key>
        <string></string>
      </dict>
      <key>0xf72b-0x20000</key>
      <dict>
        <key>Action</key>
        <integer>10</integer>
        <key>Text</key>
        <string>[F</string>
      </dict>
      <key>0xf72b-0x40000</key>
      <dict>
        <key>Action</key>
        <integer>4</integer>
        <key>Text</key>
        <string></string>
      </dict>
    </dict>
    <key>Natural Text Editing</key>
    <dict>
      <key>0x7f-0x100000</key>
      <dict>
	<key>Action</key>
	<integer>11</integer>
	<key>Text</key>
	<string>0x15</string>
      </dict>
      <key>0x7f-0x80000</key>
      <dict>
	<key>Action</key>
	<integer>11</integer>
	<key>Text</key>
	<string>0x1b 0x7f</string>
      </dict>
      <key>f702-0x280000</key>
      <dict>
	<key>Action</key>
	<integer>10</integer>
	<key>Text</key>
	<string>b</string>
      </dict>
      <key>f702-0x300000</key>
      <dict>
	<key>Action</key>
	<integer>11</integer>
	<key>Text</key>
	<string>0x1</string>
      </dict>
      <key>f703-0x280000</key>
      <dict>
	<key>Action</key>
	<integer>10</integer>
	<key>Text</key>
	<string>f</string>
      </dict>
      <key>f703-0x300000</key>
      <dict>
	<key>Action</key>
	<integer>11</integer>
	<key>Text</key>
	<string>0x5</string>
      </dict>
      <key>f728-0x0</key>
      <dict>
	<key>Action</key>
	<integer>11</integer>
	<key>Text</key>
	<string>0x4</string>
      </dict>
      <key>f728-0x80000</key>
      <dict>
	<key>Action</key>
	<integer>10</integer>
	<key>Text</key>
	<string>d</string>
      </dict>
    </dict>
  </dict>
</plist>
