.hljs {
    background: ${bg};
    color: ${fg};
}

.hljs-comment,
.hljs-quote {
    color: ${white};
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-link,
.hljs-meta {
    color: ${red};
}

.hljs-number,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-deletion {
    color: ${blue};
}

.hljs-title,
.hljs-section,
.hljs-attribute {
    color: ${yellow};
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
    color: ${green};
}

.hljs-keyword,
.hljs-selector-tag {
    color: ${magenta};
}

.hljs-emphasis {
    font-style: italic;
    font-family: ${fontFamily}
}

.hljs-strong {
    font-weight: bold;
    font-family: ${fontFamily}
}
